{% extends 'base.html' %}
{% block title %}Donation{% endblock title %}
{% block body %}


<div class="media">
  <img src="./static/ashray.png" class="mr-3 ml-3 mt-3" alt="./static/ashray.png">
  <div class="media-body">
    <h1 class="mt-3">Aashray Adhikar Abhiyan</h1>
    Aashray Adhikar Abhiyan (AAA) has been working on the rights of homeless people since year 2000. 
    Homelessness is not mere rooflessness but a state of extreme deprivations. Our mission is to mobilise, 
    empower and strengthen the homeless so that they can assert their rights and live with honour and dignity. 
    We campaign rigorously to provide awareness and change attitudes towards the way; 
    society and the State thinks and acts towards homeless people.
  <br>
  <a class="btn btn-primary" href="https://homelesspeople.in/" role="button">Donate</a>
  </div>
</div>

<div class="media">
  <img src="./static/airbt.png" class="mr-3 ml-3 mt-3" alt="./static/ashray.png">
  <div class="media-body">
    <h1 class="mt-3">All India Roti Bank Trust</h1>
    Started in 2017, All India Roti Bank Trust (AIBRT) works across 20 cities in India with over 1000 volunteers 
    to serve an average of 2,00,000 meals each month. The main aim of the organisation is to collect surplus edible 
    food from various channels and distribute it among the needy with due dignity.
  <br>
  <a class="btn btn-primary" href="https://www.facebook.com/AIRBTDELHI/" role="button">Donate</a>
  </div>
</div>

<div class="media">
  <img src="./static/delhilunger.png" class="mr-3 ml-3 mt-3" alt="./static/ashray.png">
  <div class="media-body">
    <h1 class="mt-3">Delhi Langar Seva Society</h1>
    DELHI LANGAR SEVA SOCIETY has formed a Group of Sevadars in order to Feed the Hungry primarily OPD Patients & 
    Attendants Outside Hospitals. Our Aim is not to Create Hunger or Greed. We as an NGO felt that patients 
    traveling barely have funds to purchase food so we provide a simple freshly made wholesome meal as many places we can 
    and are permitted to.
  <br>
  <a class="btn btn-primary" href="https://www.facebook.com/DelhiLangarSevaSociety/" role="button">Donate</a>
  </div>
</div>

<div class="media">
  <img src="./static/anna.png" class="mr-3 ml-3 mt-3" alt="./static/ashray.png">
  <div class="media-body">
    <h1 class="mt-3">Annakshetra</h1>
   ANNAKSHETRA, established in November 2010, is a non-profit organization at Jaipur, 
   Rajasthan. They collect unused surplus food and make it available to those in need through a network of volunteers. 
   During the last three years, they have recoveredand redistributed more than 3 Million meals, without charging anything 
   from the donor or the beneficiaries.
  <br>
  <a class="btn btn-primary" href="http://www.annakshetra.org/" role="button">Donate</a>
  </div>
</div>


<div class="media">
  <img src="./static/feeding-india.png" class="mr-3  ml-3 mt-3" alt="./static/ashray.png">
  <div class="media-body">
    <h1 class="mt-3">Feeding India</h1>
Feeding India is a not-for-profit social enterprise started in 2014, which aims to solve the problem of hunger and malnutrition 
in the country. They channelize excess food from events, restaurants, weddings, corporates, etc. to beneficiaries in need and run 
sustained feeding programs through their own kitchens. 
Feeding India works with a network of 3,500 volunteers in 45+ cities of India and has served 5 million meals to people in need.
  <br>
  <a class="btn btn-primary" href="https://www.feedingindia.org/" role="button">Donate</a>
  </div>
</div>

{% endblock body %}
